<% include partials/header %>
<div class="container">
 <header class="jumbotron">
   <h1 style="width:30%;margin:0 auto">ברוכים הבאים למערכת ניהול מלונית - גדעונים</h1>
 </header>
</div>
<% include partials/footer %>